<div class="container">
    <div class="form-container">
      <h2>Sign Up</h2>
      <form>
        <div class="form-group">
          <label for="inputName">Full Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Enter your full name">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password">
        </div>
        <div class="form-group">
            <label for="inputAbout">About You</label>
            <textarea class="form-control" id="inputAbout" placeholder="Tell us about yourself.." rows="5" cols="33">
              
            </textarea>
            <!-- <input type="text-area" class="form-control" id="inputAbout" placeholder="Enter about yourself.."> -->
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button> &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-secondary">Reset</button>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>

